.flex-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.navfooter {
	background-color: #f5f6fa;
}

.side-bar {
	padding: 20px;
	border: 0px;
}

.side-bar svg {
    display: none;
}

nav {
	border: 0px;
}

.nav-list {
	list-style: none;
}

a.nav-list-link {
	color: #7253ed;;
}

.site-nav {
	column-count: 3;
}

.site-footer {
	display: none;
}

button {
	display: none;
}

nav ul li {
	margin-left: 0px;
}

nav ul li ul {
	display: none;
}
